<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name %></title>

    <script>
      var ShopifyConfig = {
        shopOrigin: "<%= current_shop.shopify_domain %>",
        apiKey: "<%= ENV.fetch('SHOPIFY_API_KEY') %>"
      };
    </script>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
